.contact-page {
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
  }

.contact-background {
    display: flex;
    min-height: 85vh;
  }
  
  .contact-container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .contact-screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .contact-screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .contact-screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .contact-screen-header-left {
    margin-right: auto;
  }
  
  .contact-screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .contact-screen-header-button.close {
    background: #ed1c6f;
  }
  
  .contact-screen-header-button.maximize {
    background: #e8e925;
  }
  
  .contact-screen-header-button.minimize {
    background: #74c54f;
  }
  
  .contact-screen-header-right {
    display: flex;
  }
  
  .contact-screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .contact-screen-body {
    display: flex;
  }
  
  .contact-screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .contact-screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .contact-app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .contact-app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .contact-app-info {
    margin-top: auto;
    font-size: 20px;
    color: #888;
  }
  
  .contact-app-form-group {
    margin-bottom: 15px;
  }

  .contact-app-form {
    width: 400px;
  }
  
  .contact-buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .contact-app-form-control::placeholder {
    color: #666;
  }
  
  .contact-app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .contact-app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .contact-app-form-button:hover {
    color: #b9134f;
  }
  
  .contact-credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .contact-credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .contact-dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .contact-screen-body {
      flex-direction: column;
    }
  
    .contact-screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .contact-app-title {
      flex-direction: row;
    }
  
    .contact-app-title span {
      margin-right: 12px;
    }
  
    .contact-app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .contact-screen-body {
      padding: 40px;
    }
  
    .contact-screen-body-item {
      padding: 0;
    }
  }
  

  .contact-btn {
    --border: 1px !important;
    width: 50px;
    height: 50px;
    border: none;
    color: inherit;
    background: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: relative; 
  }
  
  .contact-btn-container {
    padding-top: 20px;
    display: inline-block;
  }
  
  .contact-btn img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    width: 30px;
    height: 30px; 
  }
  

  .contact-airplane {
    transition: transform 0.3s linear;
  }
  
  .contact-animation {
    transform: translate(100px, -100px); 
  }
  
  .contact-btn-bg {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .contact-btn-boarder {
    border: 1px solid #fff;
  }
  
 
  .contact-btn-around {
    width: 101px;
    height: 101px;
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: relative;
    transition: all 0.3s;
    margin: auto;
  }
  
  .contact-checkmark {
    width: 32px;
    height: 32px;
    animation: fadeIn 0.5s forwards ease-in-out;
  }
  
  .contact-airplane {
    width: 32px;
    height: 32px;
  }
  
  .contact-animation {
    animation: flyAway 1.5s forwards; 
  }

  .contact-app-form-group {
    position: relative; 
    margin-bottom: 30px;
  }
  
  .contact-app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
    position: relative; 
  }
  
  .contact-app-form-control::placeholder {
    color: #666;
  }
  
  .contact-app-form-control:focus {
    border-bottom-color: #ddd;
  }

  .contact-textarea {
    padding: 0;
  }
  

  .error-text {
    color: red;
    position: absolute; 
    bottom: -20px; 
    left: 0;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .contact-error {
    width: 32px;
    height: 32px;
    animation: fadeIn 0.5s forwards ease-in-out;
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes flyAway {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100px, -100px); 
      opacity: 0; 
    }
  }

  @media (max-width: 480px) {
    .contact-container {
      width: 90%;
    }

    .contact-app-form {
      width: 90%;
    }

    .contact-screen {
      margin-top: 10%;
      width: 95%;
      margin-left: 3%;
    }
   }